@media screen  and (max-width: 1294px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen  and (max-width: 1170px) {
    .header .container {
        justify-content: space-between;
    }

    .menu ul {
        padding: 0;
        width: 315px;
        justify-content: space-between;
    }

    .menu li a {
        margin-right: 0;
    }

    .products-items {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .small-advantages {
        grid-column-gap: 10px;
    }
}

@media screen  and (max-width: 1100px) {
    .main-info-image::before,
    .main-info-image::after {
        width: 150px;
        height: 150px;
    }

    .small-strawberry {
        position: absolute;
        top: 146px;
        right: 187px;
    }
}

@media screen  and (max-width: 1042px) {
    .advantages-image {
        width: 460px;
        height: 278px;
    }

    .order-form {
        margin-left: 100px;
    }
}

@media screen  and (max-width: 976px) {
    .main-info-image img {
        width: 452px;
        height: 400px;
    }


    .order-image {
        width: 350px;
        height: 400px;
    }

    .order-form {
        margin-left: 70px;
    }

    .small-advantages {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen  and (max-width: 940px) {

    .small-advantages {
        justify-content: center;
        gap: 80px 54px;
    }

    .advantage {
        display: grid;
        justify-items: center;
    }
}

@media screen  and (max-width: 830px) {

    .header .container {
        justify-content: left;
    }

    .header-phone {
        display: none;
    }

    .main {
        padding-top: 97px;
    }

    .menu ul {
        padding: 0 0 0 103px;
    }

    .main .container {
        flex-direction: column;
    }


    .main-info-image {
        margin-left: 181px;
        bottom: 80px;
    }
}

@media screen  and (max-width: 768px) {

    .advantages .container {
        text-align: center;
    }

    .products-items {
        grid-template-columns: repeat(auto-fill, minmax(263px, 263px));
    }

    .big-advantages {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .advantages-image {
        width: 302px;
        height: 183px;
    }

    .advantages-info-text {
        max-width: 668px;
        margin-bottom: 40px;
    }

    .small-advantages {
        grid-template-columns: repeat(auto-fill, 220px);
    }

    .advantages-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .order .container {
        align-items: flex-end;
        position: relative;
    }

    .order-images {
        order: 2;
        position: static;
    }

    .order-image {
        width: 352px;
        height: 398px;
        position: absolute;
        bottom: -90px;
        right: 20px;
    }

    .order-form {
        margin-left: 0;
        position: static;
    }

    .big-strawberry {
        top: 223px;
        left: 348px;
    }

    .small-strawberry {
        top: 154px;
        right: 120px;
    }

}

@media screen  and (max-width: 668px) {

    .main {
        padding-bottom: 43px;
    }

    .main .container {
        text-align: center;
        align-items: center;
    }

    .main-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .order-image {
        display: none;
    }

    .small-strawberry {
        display: none;
    }

    .main-info-image {
        padding: 35px 0 0 0;
        margin-left: 0;
        bottom: 0;
    }

    .order .container {
        align-items: center;
        justify-content: center;
    }

    .order-form {
        z-index: 2;
    }

    .order-form input {
        width: 344px;
    }

    .big-strawberry {
        top: 137px;
        left: 400px;
        z-index: 1;
    }

    .order-form-button {
        width: 344px;
    }

}

@media screen  and (max-width: 568px) {
    .header .container {
        justify-content: space-between;
    }

    .menu {
        display: none;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        background: #000000c9;
        z-index: 4;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu ul li {
        margin: 20px 0;
    }

    .menu li a {
        font-size: 40px;
    }

    .burger {
        display: block;
    }

    .burger svg {
        width: 36px;
        height: 36px;
        fill: rgb(119, 11, 29);
    }

    .menu.open {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .menu ul {
        padding: 0;

    }

    .menu .close {
        display: block;
        width: 24px;
        height: 24px;
        fill: rgb(255, 255, 255);
        position: absolute;
        top: 20px;
        left: 20px
    }


    .main-info-image img {
        position: relative;
        width: 250px;
        height: 207px;
    }


    .main-info-image::before,
    .main-info-image::after {
        width: 100px;
        height: 100px;
    }

    @media screen  and (max-width: 436px) {
        .menu li a {
            font-size: 30px;
        }

        .main {
            padding: 150px 0 43px;
        }

        .main .container {
            text-align: center;
            align-items: center;
        }

        .main-info-title {
            font-size: 32px;
            max-width: 338px;
        }

        .main-info-description {
            font-size: 16px;
            padding: 40px 0 40px 0;
            width: 347px;
        }

        .main-info-image {
            margin-left: 0;
            margin-top: 38px;
        }

        .main-info-image img {
            position: relative;
            z-index: 2;
            max-width: 250px;
            max-height: 207px;

        }

        .order {
            padding: 100px 0 77px 0;
        }

        .order-form-title {
            font-size: 30px;
        }

        .order-form-text {
            font-size: 16px;
        }

        .big-strawberry {
            top: 105px;
            left: 288px;
        }

    }

    @media screen  and (max-width: 376px) {


        .advantages-info-title {
            margin-left: 0px;
            font-size: 30px;
            width: 340px;
        }

        .advantages-info-text {
            font-size: 16px;
            width: 346px;
            padding: 40px 0 59px 0;
            margin-bottom: 0;
        }

        .advantages-image {
            padding-bottom: 60px;
        }

        .small-advantages {
            grid-template-columns: 1fr 1fr;
            gap: 36px 15px;
        }

        .advantage-title {
            font-size: 18px;
        }

        .advantage-text {
            font-size: 13px;
            width: 158px;
            height: 145px;
        }

        .advantages {
            padding: 100px 0 50px 0;
        }

        .products {
            padding: 100px 0;
        }

        .products-title {
            font-size: 30px;
            margin-bottom: 122px;
        }

        .products-items {
            gap: 142px 0;
        }

        .big-strawberry {
            top: 118px;
            left: 283px;
        }


        .footer {
            padding: 50px 0 50px 0;
        }

        .footer .container {
            flex-direction: column;
            align-items: center;
        }

        .footer-logo {
            position: relative;
        }

        .footer-logo p {
            position: absolute;
            width: 168px;
            top: 220px;
            left: -18px;
        }

        .footer-phone {
            order: 1;
            padding: 40px 0 40px 0;
        }

        .footer-media {
            order: 2;
            margin-bottom: 40px;
        }

        .footer-rights {
            margin-top: 0;
        }
    }

}
@media screen  and (max-width: 365px) {
    .main-info-title {
        font-size: 25px;
    }

    .main-info-description {
        font-size: 13px;
        width: 297px;
    }

    .advantages {
        padding-top: 50px;
    }

    .advantages-image img {
        width: 250px;
        height: 130px;
    }

    .advantages-info-title {
        font-size: 25px;
        width: 250px;

    }

    .advantages-info-text {
        font-size: 13px;
        width: 250px;
    }

    .small-advantages {
        grid-template-columns: repeat(auto-fill, 220px);
        margin-top: 0;
    }

    .order {
        padding-top: 77px;
    }

    .order-form {
        text-align: center;
    }

    .order-form-title {
        font-size: 25px;
    }

    .order-form-text {
        font-size: 15px;
        width: 286px;
    }

    .order-form input {
        width: 280px;
    }

    .order-form-button {
        width: 280px;
    }

    .big-strawberry {
        display: none;
    }
}